[Desktop Entry]
Name=Kylin Clock
Name[zh_CN]=闹钟
GenericName=Kylin Clock
GenericName[zh_CN]=闹钟
Comment=Ukui Clock
Comment[zh_CN]=闹钟
Keywords=guide;
Exec=/usr/bin/kylin-clock
Icon=kylin-alarm-clock
Terminal=false
Type=Application
NoDisplay=false
Categories=System;Utility;
StartupNotify=false

