[Desktop Entry]
Name=Alarm
Name[zh_CN]=闹钟
Name[tr_TR]=Çalar Saat
GenericName=Kylin Alarm
GenericName[zh_CN]=闹钟
GenericName[tr_TR]=Ukui Çalar Saat
Comment=Ukui Alarm
Comment[zh_CN]=闹钟
Comment[tr_TR]=Ukui Çalar Saat
Keywords=guide;
Exec=/usr/bin/ukui-clock
Icon=kylin-alarm-clock
Terminal=false
Type=Application
NoDisplay=false
Categories=System;Utility;
StartupNotify=false

