[Desktop Entry]
Version=0.1
Name=ukui-sidebar
Name[zh_CN]=侧边栏
GenericName=ukui-sidebar
Comment=ukui-sidebar
Exec=ukui-sidebar
Terminal=false
Type=Application
#Categories=
NoDisplay=true
OnlyShowIn=UKUI;
X-GNOME-Autostart-Phase=Applications
X-UKUI-Bugzilla-Bugzilla=UKUI
X-UKUI-Bugzilla-Product=ukui-sidebar
X-UKUI-Bugzilla-Component=ukui-sidebar
X-MATE-Autostart-Phase=Applications
X-KDE-autostart-after=panel
X-UKUI-Autostart-Notify=true
#X-UKUI-AutoRestart=true