[Desktop Entry]
Name=Kylin Feedback
Name[zh_CN]=用户反馈
GenericName=Kylin Feedback
GenericName[zh_CN]=用户反馈
Comment=Kylin Feedback
Comment[zh_CN]=用户反馈
Keywords=guide;
Exec=/usr/bin/feedback
Icon=kylin-feedback
Terminal=false
Type=Application
NoDisplay=false
Categories=System;Utility;
StartupNotify=false

